@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url(../assets/bottom-background-image.jpg);
  background-size: cover;
  background-position: center; /* Added this line */
  color: white;
  padding-bottom: 2rem;
}


.intro {
  width: 600px;
  max-width: 80%;
  text-align: center;
  margin: 2rem 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.selectArea {
  display: flex;
  width: 600px;
  max-width: 80%;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.selectCard {
  width: 250px;
}

.createButton {
  margin-top: 2rem;
  width: 200px;
  font-size: 1.1rem;
  padding: 0.8rem 1rem;
  color: white;
  font-weight: 700;
  background-color: rgb(45, 114, 241);
}


button:hover {
  cursor: pointer;
}

span {
  text-decoration: underline;
}

.select {
  color: white;
  width: 250px;
}

.additionalInfo {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  outline: none;
  font-size: 1rem;
  backdrop-filter: blur(10px);
  width: 250px;
}

@media (max-width: 648px){
  .selectCard{
    width: 100%;
  }
  .select{
    width: 100%;
  }
  .additionalInfo{
    width: 100%;
  }
  .createButton{
    width: 80%;
  }
}